body {
    font: 100%/1.5 system-ui, sans-serif;
    display: flex;
    flex-flow: column;
    max-width: 80em;
    min-height: 100vh;
    box-sizing: border-box;
    margin: auto;
    padding: 1em;
  }

header{
  display: grid;
  grid-template-rows: auto auto; /* Allows stacking */
  gap: 1em;
  align-items: baseline;
  width: 100%;
}

label{
  margin-left: auto;
  grid-template-columns: 100px auto auto;
  display: grid;
  text-align: right;
  width: 100%;
  margin-bottom: 10px;
}
label #text{
  width: 50px;
}
#time-slider{
  width: 70%;
}
label time {
  display: block; /* Ensures input and time stack inside label */
  width: 100%; /* Optional: makes slider full width */
}

em{
  color: gray;
  font-style: italic;
}

#left{
  h1{
    margin-bottom: 0;
  }
  p{
    margin-top: 0;
  }
}

.legend{
  display: flex; /* Apply flexbox */
  /* flex-direction: row; */
  gap: 1px; /* Add spacing between items */
  margin-block: 20px; /* Add space above and below the legend */
  width: 100%;
}
.legend div{
  flex: 1;
  padding: 5px 10px;
  /* border-radius: 5px; */
  --color-departures: steelblue;
  --color-arrivals: darkorange;
  --color: color-mix(
    in oklch,
    var(--color-departures) calc(100% * var(--departure-ratio)),
    var(--color-arrivals)
  );
  background-color: var(--color);
  opacity: 80%;
  color: white;
  font-weight: bold;
  text-align: center;
}

.legend div:nth-child(1) {
  text-align: left;
  color: white; /* Adjust text color for contrast */
}

.legend div:nth-child(2) {
  text-align: center;
  color: white;
}

.legend div:nth-child(3) {
  text-align: right;
  color: white;
}